.chat-area {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.top-bar {
    background-color: #8c8c8c;
    color: white;
    position: relative;
}

.delete-group-button {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 10px 0 10px 0;
}

.middle-screen {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    height: 80px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.bottom-input {
    height: 80px;
}

.top-bar-header-text {
    font-size: 24px;
}

.bottom-input {
    border-top: 2px solid #8c8c8c;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.chat-input {
    margin-right: 10px;
    flex-grow: 1;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 50%;
}

.send-button {
    border: none;
    width: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #a1c794;
    color: white;
    cursor: pointer;
}

.chat-item {
    /* height: 70px; */
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 100px;
}

.chat-item-me {
    /* height: 70px; */
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-left: 100px;
    padding-right: 10px;
}

.chat-item-profile-image {
    margin-right: 15px;
    width: 40px;
    height: 40px;
}

.chat-item-message {
    border: 1px solid #FBDE8E;
    border-radius: 10px;
    color: #252525;
    padding: 5px;
    text-align: left;
}

.chat-timestamp-holder {
    height: 100%;
    margin: 0 3px 0px 3px;
    display: flex;
    flex-direction: column-reverse;
}

.chat-timestamp {
    font-size: 0.75rem;
    color: #8c8c8c;
    margin-bottom: 3px;
}
