.side-area-container {
    text-align: left;
    height: 100%;
    border-right: 2px solid #8c8c8c;
    display: flex;
    flex-flow: column;
}

.side-area-section-header {
    background-color: #8c8c8c;
    padding-left: 10px;
}

.side-area-section-header-text {
    font-size: 24px;
    color: white;
}

.side-area-section-content-item {
    padding-left: 10px;
    background-color: lightgray;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.15s linear !important;
    margin-bottom: 1px;
}

.side-area-section-content-item-create {
    background-color: white;
}

.side-area-section-content-item-button {
    border: none;
    height: 100%;
    cursor: pointer;
    width: 90px;
    font-size: 1.2rem;
    color: white;
    padding: 0px;
}

.side-area-section-content-item-button-leave {
    background-color: #D9544F;
}

.side-area-section-content-item-button-create {
    background-color: #B5E9FC;
}

.side-area-section-content-item-button-join {
    background-color: #A1C794;
}

.side-area-section-content-item-text {
    font-size: 1.2rem;
}

.side-area-section-content-item-create-text {
    color: darkgray;
}

.create-group-input {
    border: none;
    height: 100%;
    padding: 0px;
    flex-grow: 1;
    font-size: 1.2rem;
}

.create-group-icon {
    font-size: 1.2rem;
    color: darkgray;
    margin-right: 5px;
}

.hover-pointer:hover {
    cursor: pointer;
    background-color: goldenrod;
}

.item-collapse {
    height: 0;
}

.tab-content {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
}

.tab-content>.active {
    display: flex !important;
    flex-flow: column;
    flex-grow: 1;
}

#mygroup {
    /* background-color: bisque; */
    flex-grow: 1;
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#mychat {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 500px;
}

a.nav-item.nav-link {
    color: #8c8c8c;
}

a.nav-item.nav-link.active {
    color: #A1C794;
}
